<div class="modal h5model in fade" id="tagModal" role="dialog">
    <div class="modal-dialog modal-md" style="width: 480px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑标签信息</h4>
            </div>
            <div class="modal-body" style="padding: 15px 15px 0;">
            	<form role="form" id="dataForm">
            		<input type="hidden" name="id" id="tag_id" />
		        	<div class="form-group">
		                <label>名称</label>
		                <input type="text" placeholder="请输入标签名称" class="form-control" name="title" id="tag_name" autocomplete="off" />
		            </div>

		            <div class="form-group">
		                <label>描述</label>
		                <textarea class="form-control" placeholder="请输入标签描述" id="tag_desc" name="description"></textarea>
		            </div>
		        </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary dialog_btn_submit">确认</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(function(){
		$("#tagModal").on("click", ".dialog_btn_submit", function(){
			var dataForm = {};
			dataForm["id"] = $("#tag_id").val();
			dataForm["name"] = $("#tag_name").val();
			dataForm["description"] = $("#tag_desc").val();

			if (dataForm["name"] != "") {
				h5.toast("正在操作...");
				h5.ajax("<{:url('tagSave')}>", {
					data: dataForm,
					success: function(r){
						if (r.res == 0) {
							h5.error(r.msg);
						} else {
							h5.success(r.msg);
							$('#tagModal').modal('hide');
							$("#tableList").bootstrapTable("refresh");
						}
					}
				});
			}
		});

		$("#tagModal").on("hide.bs.modal", function(){
			setTagForm({});
        });
	});

	function setTagForm(row){
		$("#tag_id").val(row["id"] || "");
		$("#tag_name").val(row["name"] || "");
		$("#tag_desc").val(row["description"] || "");
	}
</script>