<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>基础权限</title>

	<{include file="public:loader,public:tables,public:treegrid" /}>
</head>
<body>
	<div class="animated fadeInRight">
		<div class="content-box">
			<div class="alert alert-success"><b>基础权限列表</b></div>

			<div class="table-responsive m-b">
			    <div class="btn-group" id="toolbarList" role="group">
			        <button type="button" class="btn btn-outline btn-default" data-toggle="modal" data-target="#saveModal">
			            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 新增权限
			        </button>
			    </div>

			    <table id="tableList">
			        <thead>
			            <tr>
			                <th data-field="ids" data-align="center" data-checkbox="true"></th>
			                <th data-field="name">名称</th>
			                <th data-field="route_name">路由</th>
			                <th data-field="sort">排序</th>
			                <th data-field="dateline" data-visible="false" data-align="center">更新时间</th>
			            </tr>
			        </thead>
			    </table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

	    $(function(){
	        h5.initTable("#tableList", {
	            url: "<?= Url('privilege')?>",
	            toolbar: "#toolbarList",
	            singleSelect: true,
	            pagination: false,
	            showToggle: false,
	            idField: "id",
	            treeView: true,
                treeId: "treeId",
                treeField: "name",
                treeRootLevel: 1,
                treeCollapseAll: false
	        });
	    });

	    var tableItems = {
	        doEdit: function(){
	            var rows = $("#tableList").bootstrapTable("getSelections");
	            if (rows.length == 1) {
	            	setDataForm(rows[0]);
	            	$('#saveModal').modal('show');
	            } else {
	                h5.warning("请先选择一条要操作的信息");
	            }
	        },
	        doRemove: function(){
	        	var rows = $("#tableList").bootstrapTable("getSelections");
	            if (rows.length == 1) {
	            	if (rows[0]["is_admin"] == 0) {
						$.confirm({
		            		content: "确定要删除该角色吗？",
		            		confirm: function(){
		            			h5.toast("正在操作...");
				            	h5.ajax("<{:url('roleRemove')}>", {
				            		data: {id: rows[0]["id"]},
				            		success: function(r){
				            			if (r.res == 1) {
				            				h5.success(r.msg);
				            				$("#tableList").bootstrapTable("refresh");
				            			} else {
				            				h5.error(r.msg);
				            			}
				            		}
				            	});
		            		}
		            	});
	            	} else {
	            		h5.warning("该角色不允许删除");
	            	}
	            } else {
	                h5.warning("请先选择一条要操作的信息");
	            }
	        },
	        doPrivilege: function(){
	        	var rows = $("#tableList").bootstrapTable("getSelections");
	            if (rows.length == 1) {
	            	if (rows[0]["is_admin"] == 1) {
						h5.warning("该角色不允许修改权限配置");
	            	} else {
		            	h5View.open(
		            		"<{:url('rolePrivilege')}>?role_id=" + rows[0]["id"],
		            		"权限配置 - " + rows[0]["name"]
		            	);
	            	}
	            } else {
	                h5.warning("请先选择一条要操作的信息");
	            }
	        }
	    };
	</script>

	<{include file="admin:modal_role_save" /}>
</body>
</html>