<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>Hello小铁匠</title>
	<link rel="stylesheet" href="__ROOT__/static/weui/weui.min.css"/>
</head>
<body>

<body ontouchstart>
    <div class="container">
    	<div class="page msg_warn js_show">
		    <div class="weui-msg">
		        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
		        <div class="weui-msg__text-area">
		            <h2 class="weui-msg__title"><{$title}></h2>
		            <p class="weui-msg__desc"><{$content}></p>
		        </div>
		        
		        <div class="weui-msg__extra-area">
		            <div class="weui-footer">
		                <p class="weui-footer__links">
		                    <a href="javascript:void(0);" class="weui-footer__link">Hello小铁匠</a>
		                </p>
		                <p class="weui-footer__text">Copyright © 2017 lypeng.cn</p>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>