<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>球队列表</title>

	<{include file="public:loader,public:tables" /}>
</head>
<body class="animated fadeInRight">
	<div class="content-box">
		<div class="alert alert-success"><b>球队列表</b> <small>球队在添加比赛记录后不可删除，删除后不可恢复。</small></div>

		<div class="table-responsive">
		    <div class="btn-group" id="toolbarList" role="group">
		        <button type="button" class="btn btn-outline btn-default" onclick="tableItems.doAdd()">
		            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 新增记录
		        </button>

		        <button type="button" class="btn btn-outline btn-default" onclick="tableItems.doEdit()">
		            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i> 编辑记录
		        </button>

		        <button type="button" class="btn btn-outline btn-default" onclick="tableItems.doRemove()">
		            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> 删除记录
		        </button>
		    </div>

		    <table id="tableList">
		        <thead>
		            <tr>
		                <th data-field="ids" data-align="center" data-checkbox="true"></th>
		                <th data-field="index" data-align="center" data-formatter="h5.formatter.index" data-width="60">编号</th>
		                <th data-field="season_info.name" data-align="center">赛季</th>
		                <th data-field="team_info.name" data-align="center">球队</th>
		                <th data-field="player_info.name" data-align="center">球员</th>
		                <th data-field="come_num" data-align="center">出场</th>
		                <th data-field="come_first" data-align="center">首发</th>
		                <th data-field="minute_num" data-align="center">时间</th>
		                <th data-field="board_num" data-align="center">篮板</th>
		                <th data-field="board_attack" data-align="center" data-visible="false">前场板</th>
		                <th data-field="board_defense" data-align="center" data-visible="false">后场板</th>
		                <th data-field="shoot_rate" data-align="center">投篮%</th>
		                <th data-field="three_rate" data-align="center">三分%</th>
		                <th data-field="free_rate" data-align="center">罚球%</th>
		                <th data-field="assists" data-align="center">助攻</th>
		                <th data-field="steals" data-align="center">抢断</th>
		                <th data-field="block" data-align="center">封盖</th>
		                <th data-field="anerror" data-align="center" data-visible="false">失误</th>
		                <th data-field="foul" data-align="center" data-visible="false">犯规</th>
		                <th data-field="score" data-align="center">得分</th>
		                <th data-field="date" data-align="center" data-visible="false">添加时间</th>
		                <th data-field="dateline" data-visible="false" data-align="center">更新时间</th>
		            </tr>
		        </thead>
		    </table>
		</div>
	</div>
	
	<script type="text/javascript">

	    $(function(){
	        h5.initTable("#tableList", {
	            url: "<?= Url('search')?>",
	            toolbar: "#toolbarList",
	            singleSelect: true
	        });

	        h5Notify.listen("game_log_search_refresh", function(){
	        	$("#tableList").bootstrapTable("refresh");
	        });
	    });

	    var tableItems = {
	    	doAdd: function(){
	            h5View.open("<{:url('save')}>", "新增记录");
	        },
	        doEdit: function(){
	            var rows = $("#tableList").bootstrapTable("getSelections");
	            if (rows.length == 1) {
	            	h5View.open("<{:url('save')}>?id=" + rows[0]['id'], "编辑记录");
	            } else {
	                h5.warning("请先选择一条要操作的信息");
	            }
	        },
	        doRemove: function(){
	        	var rows = $("#tableList").bootstrapTable("getSelections");
	            if (rows.length == 1) {
	            	$.confirm({
	            		content: "删除之后不可恢复，确定要删除吗？",
	            		confirm: function(){
	            			h5.toast("正在操作...");
			            	h5.ajax("<{:url('remove')}>", {
			            		data: {id: rows[0]["id"]},
			            		success: function(r){
			            			if (r.res == 1) {
			            				h5.success(r.msg);
			            				$("#tableList").bootstrapTable("refresh");
			            			} else {
			            				h5.error(r.msg);
			            			}
			            		}
			            	});
	            		}
	            	});
	            } else {
	                h5.warning("请先选择一条要操作的信息");
	            }
	        }
	    };
	</script>
</body>
</html>