<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title><{$title}></title>
	<link href="__ROOT__/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrap">
    	<div class="container" style="padding-top: 20px;">
    		<div class="site-error">
			    <h1><{$title}></h1>
			    <div class="alert alert-danger">
			        <{$content}>
			    </div>
			    <p>
			    	服务器在处理您的请求时发生上述错误。
			    </p>
			    <p>
			    	如果您认为这是一个服务器错误请联系我们，谢谢。
			    </p>
			</div>
    	</div>
	</div>
</body>
</html>