    <!-- 基础样式 -->
    <link href="__ROOT__/static/styler/css/animate.min.css" rel="stylesheet">
    <link href="__ROOT__/static/fontawesome/font-awesome.min.css" rel="stylesheet">
    <link href="__ROOT__/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ROOT__/static/jquery-confirm/jquery-confirm.css" rel="stylesheet">
    <link href="__ROOT__/static/styler/css/style2.css" rel="stylesheet">
    <link href="__ROOT__/static/styler/css/custom.css" rel="stylesheet">

    <!-- 基础js -->
    <script src="__ROOT__/static/bootstrap/js/jquery-1.11.3.min.js"></script>
    <script src="__ROOT__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ROOT__/static/jquery-confirm/jquery-confirm.js"></script>
    <script src="__ROOT__/static/vue/vue.min.js"></script>
    <script src="__ROOT__/static/styler/js/h5.wap.js"></script>
    <script src="__ROOT__/static/styler/js/h5Notify.js"></script>
    <script src="__ROOT__/static/styler/js/h5View.js"></script>
    <!-- 基础js End -->
