<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>修改密码</title>

	<{include file="public:loader" /}>
</head>
<body>
	<div class="animated fadeInRight">
		<{include file="public:breadcrumb" /}>
		
		<div class="content-box">
			<div class="ibox float-e-margins">
			    <div class="ibox-title">
			        <h5>修改密码 <small></small></h5>
			    </div>

			    <div class="ibox-content">
			        <form role="form" id="dataForm">
			        	<div class="form-group">
			                <label>原密码</label>
			                <input type="password" placeholder="请输入原密码" class="form-control" autocomplete="off" v-model="form_data.old_password">
			            </div>

			            <div class="form-group">
			                <label>新密码</label>
			                <input type="password" placeholder="请输入新密码" class="form-control" autocomplete="off" v-model="form_data.password">
			            </div>

			            <div class="form-group">
			                <label>确认密码</label>
			                <input type="password" placeholder="请再次输入新密码" class="form-control" autocomplete="off" v-model="form_data.rep_password">
			            </div>

			            <div class="m-t-md">
			                <button class="btn btn-sm btn-info" type="button" id="btn_submit">
			                	<strong>确 认 提 交</strong>
			                </button>
			            </div>
			        </form>
			    </div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var _VUE = {};
		$(document).ready(function(){
			_VUE = new Vue({
				el: "#dataForm",
				data: {
					form_data: {
						old_password: "",
						password: "",
						rep_password: ""
					}
				}
			});

			// 提交
			$("#btn_submit").click(function(){
				h5.toast("正在处理请求...");
				h5.ajax("<?= url('editPassword')?>", {
					data: _VUE.form_data,
					success: function(result){
						if (result.res == 1) {
							h5.success("密码修改成功");

							setTimeout(function(){
								window.location.reload();
							}, 1000);
						} else {
							h5.error(result.msg);
						}
					}
				});
			});
		});
	</script>
</body>
</html>